@charset "UTF-8";
@import url('../css/variables.css');


*{
    font-family: 'Alexandria', sans-serif;
    color: var(--text-color);
}

body{
    background-image: url(../images/background-mobile.png);
    background-color: var(--primary-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;  
}

#login-form {
    background-color: var(--tertiary-color);
    border-radius: 6px;
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
}
